<div class="container my-5">
    <h1 class="mb-2">Add New Employee</h1>
    <div class="row">
        <div class="col-sm-6">
            <form #form="ngForm" (ngSubmit)="addEmployee()">
                <div class="mb-3">
                  <label for="name" class="form-label">Fullname</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addEmployeReq.name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="addEmployeReq.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="addEmployeReq.phone">
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="addEmployeReq.salary">
                </div>
                <div class="mb-3">
                    <label for="departement" class="form-label">Departement</label>
                    <input type="text" class="form-control" id="departement" name="departement" [(ngModel)]="addEmployeReq.departement">
                </div>
                <button type="submit" class="btn btn-primary">SAVE</button>
            </form>
        </div>
    </div>
    
</div>