<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-3">Transaksi List</h1>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" aria-current="page" routerLink="/transaksi/add"><i class="fa fa=plus"></i> Tambah Transaksi</a>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive" *ngIf="transaksi && transaksi.length > 0"> 
                    <thead>
                        <tr>
                            <th>Tanggal Transaksi</th>
                            <th>Kode Transaksi</th>
                            <th>Nama Transaksi</th>
                            <th>Tipe Transaksi</th>
                            <th>Nominal Transaksi</th>
                            <th>Nama</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let trx of transaksi">
                            <td>{{trx.tanggal_transaksi}}</td>
                            <td>{{trx.kode_transaksi}}</td>
                            <td>{{trx.nama_transaksi}}</td>
                            <td>{{trx.tipe_transaksi}}</td>
                            <td>{{trx.nominal_transaksi}}</td>
                            <td>{{trx.nama}}</td>
                            <td>
                                <a class="btn btn-sm btn-warning m-1" [routerLink]="['/transaksi','edit',trx.id]"><i class="fa fa-pen"></i></a>
                                <a class="btn btn-sm btn-danger" (click)="deleteTransaksi(trx.id)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p *ngIf="!transaksi || transaksi.length <= 0">transaksi tidak ditemukan</p>
        </div>
      </div>
</div>
