<div class="container my-5">
    <h1 class="mb-2">Add New Employee</h1>
    <div class="row">
        <div class="col-sm-6">
            <form #form="ngForm" (ngSubmit)="updateEmployee()">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="emp.id" readonly>
                  </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Fullname</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="emp.name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="emp.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="emp.phone">
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="emp.salary">
                </div>
                <div class="mb-3">
                    <label for="departement" class="form-label">Departement</label>
                    <input type="text" class="form-control" id="departement" name="departement" [(ngModel)]="emp.departement">
                </div>
                <button type="submit" class="btn btn-sm btn-primary m-2">SAVE</button>
                <a class="btn btn-sm btn-danger" [routerLink]="['/employees']">Cancel</a>
            </form>
        </div>
    </div>
    
</div>