<div class="container my-5">
    <div class="card col-md-10">
        <div class="card-header">
            <h1 class="mb-2">Add New User</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form #form="ngForm" (ngSubmit)="addUser()">
                        <div class="mb-3">
                          <label for="nama" class="form-label">Nama</label>
                          <input type="text" class="form-control" id="nama" name="nama" [(ngModel)]="addUsrReq.nama">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="addUsrReq.username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="addUsrReq.password">
                        </div>
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>